body{
    background-color: orange;
    font: sans-serif;
    color: blue;
    font-size: 150%;
    font-weight: bold;
}
.logo{
    position: relative;
    top: 0px;
    left: 0px;
}
.Avisos{
    color: red;
}
.usuario{
    background-color: grey;
    top: 0px;
    right: 150px;
    width: 100;
    height: 100;
}
h4{
    color: grey;
    font-weight: bold;
}
span{
    color:green;
}